@font-face {
  font-family: "iconfont"; /* Project id 3421775 */
  src: url('iconfont.woff2?t=1653287833558') format('woff2'),
       url('iconfont.woff?t=1653287833558') format('woff'),
       url('iconfont.ttf?t=1653287833558') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ascending:before {
  content: "\e74d";
}

.icon-ashbin:before {
  content: "\e74e";
}

.icon-atm:before {
  content: "\e74f";
}

.icon-bad:before {
  content: "\e750";
}

.icon-attachent:before {
  content: "\e751";
}

.icon-browse:before {
  content: "\e752";
}

.icon-beauty:before {
  content: "\e753";
}

.icon-atm-away:before {
  content: "\e754";
}

.icon-assessed-badge:before {
  content: "\e755";
}

.icon-auto1:before {
  content: "\e756";
}

.icon-bags:before {
  content: "\e757";
}

.icon-calendar:before {
  content: "\e758";
}

.icon-cart-full:before {
  content: "\e759";
}

.icon-calculator:before {
  content: "\e75a";
}

.icon-cameraswitching:before {
  content: "\e75b";
}

.icon-cecurity-protection:before {
  content: "\e75c";
}

.icon-category:before {
  content: "\e75d";
}

.icon-close:before {
  content: "\e75e";
}

.icon-certified-supplier:before {
  content: "\e75f";
}

.icon-cart-Empty:before {
  content: "\e760";
}

.icon-code1:before {
  content: "\e761";
}

.icon-color:before {
  content: "\e762";
}

.icon-conditions:before {
  content: "\e763";
}

.icon-confirm:before {
  content: "\e764";
}

.icon-company:before {
  content: "\e765";
}

.icon-ali-clould:before {
  content: "\e766";
}

.icon-copy1:before {
  content: "\e767";
}

.icon-credit-level:before {
  content: "\e768";
}

.icon-coupons:before {
  content: "\e769";
}

.icon-connections:before {
  content: "\e76a";
}

.icon-cry:before {
  content: "\e76b";
}

.icon-costoms-alearance:before {
  content: "\e76c";
}

.icon-clock:before {
  content: "\e76d";
}

.icon-CurrencyConverter:before {
  content: "\e76e";
}

.icon-cut:before {
  content: "\e76f";
}

.icon-data1:before {
  content: "\e770";
}

.icon-Customermanagement:before {
  content: "\e771";
}

.icon-descending:before {
  content: "\e772";
}

.icon-double-arro-right:before {
  content: "\e773";
}

.icon-customization:before {
  content: "\e774";
}

.icon-double-arrow-left:before {
  content: "\e775";
}

.icon-discount:before {
  content: "\e776";
}

.icon-download:before {
  content: "\e777";
}

.icon-dollar1:before {
  content: "\e778";
}

.icon-default-template:before {
  content: "\e779";
}

.icon-editor1:before {
  content: "\e77a";
}

.icon-eletrical:before {
  content: "\e77b";
}

.icon-electronics:before {
  content: "\e77c";
}

.icon-etrical-equipm:before {
  content: "\e77d";
}

.icon-ellipsis:before {
  content: "\e77e";
}

.icon-email:before {
  content: "\e77f";
}

.icon-falling:before {
  content: "\e780";
}

.icon-earth:before {
  content: "\e781";
}

.icon-filter:before {
  content: "\e782";
}

.icon-furniture:before {
  content: "\e783";
}

.icon-folder:before {
  content: "\e784";
}

.icon-feeds:before {
  content: "\e785";
}

.icon-history1:before {
  content: "\e786";
}

.icon-hardware:before {
  content: "\e787";
}

.icon-help:before {
  content: "\e788";
}

.icon-good:before {
  content: "\e789";
}

.icon-Householdappliances:before {
  content: "\e78a";
}

.icon-gift1:before {
  content: "\e78b";
}

.icon-form:before {
  content: "\e78c";
}

.icon-image-text:before {
  content: "\e78d";
}

.icon-hot:before {
  content: "\e78e";
}

.icon-inspection:before {
  content: "\e78f";
}

.icon-leftbutton:before {
  content: "\e790";
}

.icon-jewelry:before {
  content: "\e791";
}

.icon-ipad:before {
  content: "\e792";
}

.icon-leftarrow:before {
  content: "\e793";
}

.icon-integral1:before {
  content: "\e794";
}

.icon-kitchen:before {
  content: "\e795";
}

.icon-inquiry-template:before {
  content: "\e796";
}

.icon-link:before {
  content: "\e797";
}

.icon-libra:before {
  content: "\e798";
}

.icon-loading:before {
  content: "\e799";
}

.icon-listing-content:before {
  content: "\e79a";
}

.icon-lights:before {
  content: "\e79b";
}

.icon-logistics-icon:before {
  content: "\e79c";
}

.icon-messagecenter:before {
  content: "\e79d";
}

.icon-mobile-phone:before {
  content: "\e79e";
}

.icon-manage-order:before {
  content: "\e79f";
}

.icon-move:before {
  content: "\e7a0";
}

.icon-Moneymanagement:before {
  content: "\e7a1";
}

.icon-namecard:before {
  content: "\e7a2";
}

.icon-map:before {
  content: "\e7a3";
}

.icon-Newuserzone:before {
  content: "\e7a4";
}

.icon-multi-language:before {
  content: "\e7a5";
}

.icon-office:before {
  content: "\e7a6";
}

.icon-notice:before {
  content: "\e7a7";
}

.icon-ontimeshipment:before {
  content: "\e7a8";
}

.icon-office-supplies:before {
  content: "\e7a9";
}

.icon-password:before {
  content: "\e7aa";
}

.icon-Notvisible1:before {
  content: "\e7ab";
}

.icon-operation:before {
  content: "\e7ac";
}

.icon-packaging:before {
  content: "\e7ad";
}

.icon-online-tracking:before {
  content: "\e7ae";
}

.icon-packing-labeling:before {
  content: "\e7af";
}

.icon-phone:before {
  content: "\e7b0";
}

.icon-pic1:before {
  content: "\e7b1";
}

.icon-pin:before {
  content: "\e7b2";
}

.icon-play1:before {
  content: "\e7b3";
}

.icon-logistic-logo:before {
  content: "\e7b4";
}

.icon-print:before {
  content: "\e7b5";
}

.icon-product:before {
  content: "\e7b6";
}

.icon-machinery:before {
  content: "\e7b7";
}

.icon-process:before {
  content: "\e7b8";
}

.icon-prompt:before {
  content: "\e7b9";
}

.icon-QRcode1:before {
  content: "\e7ba";
}

.icon-reeor:before {
  content: "\e7bb";
}

.icon-reduce:before {
  content: "\e7bc";
}

.icon-Non-staplefood:before {
  content: "\e7bd";
}

.icon-rejected-order:before {
  content: "\e7be";
}

.icon-resonserate:before {
  content: "\e7bf";
}

.icon-remind:before {
  content: "\e7c0";
}

.icon-responsetime:before {
  content: "\e7c1";
}

.icon-return:before {
  content: "\e7c2";
}

.icon-paylater:before {
  content: "\e7c3";
}

.icon-rising1:before {
  content: "\e7c4";
}

.icon-Rightarrow:before {
  content: "\e7c5";
}

.icon-rmb1:before {
  content: "\e7c6";
}

.icon-RFQ-logo:before {
  content: "\e7c7";
}

.icon-save:before {
  content: "\e7c8";
}

.icon-scanning:before {
  content: "\e7c9";
}

.icon-security:before {
  content: "\e7ca";
}

.icon-salescenter:before {
  content: "\e7cb";
}

.icon-seleted:before {
  content: "\e7cc";
}

.icon-searchcart:before {
  content: "\e7cd";
}

.icon-raw:before {
  content: "\e7ce";
}

.icon-service:before {
  content: "\e7cf";
}

.icon-share:before {
  content: "\e7d0";
}

.icon-signboard:before {
  content: "\e7d1";
}

.icon-shuffling-banner:before {
  content: "\e7d2";
}

.icon-Rightbutton:before {
  content: "\e7d3";
}

.icon-sorting:before {
  content: "\e7d4";
}

.icon-sound-Mute:before {
  content: "\e7d5";
}

.icon-Similarproducts:before {
  content: "\e7d6";
}

.icon-sound-filling:before {
  content: "\e7d7";
}

.icon-suggest:before {
  content: "\e7d8";
}

.icon-stop:before {
  content: "\e7d9";
}

.icon-success:before {
  content: "\e7da";
}

.icon-supplier-features:before {
  content: "\e7db";
}

.icon-switch:before {
  content: "\e7dc";
}

.icon-survey:before {
  content: "\e7dd";
}

.icon-template:before {
  content: "\e7de";
}

.icon-text:before {
  content: "\e7df";
}

.icon-suspended:before {
  content: "\e7e0";
}

.icon-task-management:before {
  content: "\e7e1";
}

.icon-tool:before {
  content: "\e7e2";
}

.icon-Top:before {
  content: "\e7e3";
}

.icon-smile:before {
  content: "\e7e4";
}

.icon-textile-products:before {
  content: "\e7e5";
}

.icon-tradealert:before {
  content: "\e7e6";
}

.icon-topsales:before {
  content: "\e7e7";
}

.icon-tradingvolume:before {
  content: "\e7e8";
}

.icon-training:before {
  content: "\e7e9";
}

.icon-upload:before {
  content: "\e7ea";
}

.icon-RFQ-word:before {
  content: "\e7eb";
}

.icon-viewlarger:before {
  content: "\e7ec";
}

.icon-viewgallery:before {
  content: "\e7ed";
}

.icon-vehivles:before {
  content: "\e7ee";
}

.icon-trust:before {
  content: "\e7ef";
}

.icon-warning:before {
  content: "\e7f0";
}

.icon-warehouse:before {
  content: "\e7f1";
}

.icon-shoes:before {
  content: "\e7f2";
}

.icon-video:before {
  content: "\e7f3";
}

.icon-viewlist:before {
  content: "\e7f4";
}

.icon-set:before {
  content: "\e7f5";
}

.icon-store:before {
  content: "\e7f6";
}

.icon-tool-hardware:before {
  content: "\e7f7";
}

.icon-vs:before {
  content: "\e7f8";
}

.icon-toy:before {
  content: "\e7f9";
}

.icon-sport:before {
  content: "\e7fa";
}

.icon-creditcard:before {
  content: "\e7fb";
}

.icon-contacts:before {
  content: "\e7fc";
}

.icon-checkstand:before {
  content: "\e7fd";
}

.icon-aviation:before {
  content: "\e7fe";
}

.icon-Daytimemode:before {
  content: "\e7ff";
}

.icon-infantmom:before {
  content: "\e800";
}

.icon-discounts:before {
  content: "\e801";
}

.icon-invoice:before {
  content: "\e802";
}

.icon-insurance:before {
  content: "\e803";
}

.icon-nightmode:before {
  content: "\e804";
}

.icon-usercenter:before {
  content: "\e805";
}

.icon-unlock:before {
  content: "\e806";
}

.icon-vip:before {
  content: "\e807";
}

.icon-wallet:before {
  content: "\e808";
}

.icon-landtransportation:before {
  content: "\e809";
}

.icon-voice:before {
  content: "\e80a";
}

.icon-exchangerate:before {
  content: "\e80b";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-sendinquiry:before {
  content: "\e70d";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-stop-fill:before {
  content: "\e738";
}

.icon-column:before {
  content: "\e741";
}

.icon-add-account:before {
  content: "\e742";
}

.icon-column1:before {
  content: "\e743";
}

.icon-add:before {
  content: "\e744";
}

.icon-agriculture:before {
  content: "\e745";
}

.icon-years:before {
  content: "\e746";
}

.icon-add-cart:before {
  content: "\e747";
}

.icon-arrow-right:before {
  content: "\e748";
}

.icon-arrow-left:before {
  content: "\e749";
}

.icon-apparel:before {
  content: "\e74a";
}

.icon-all1:before {
  content: "\e74b";
}

.icon-arrow-up:before {
  content: "\e74c";
}

